@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {}

.navbar {
  padding-top: 0;
  padding-left: 0;

  &-brand {
    padding-top: 0;
  }
}


.container-fluid {
  padding-top: 0;
  padding-left: 0;
}

.nav-link {
  font-weight: bold;
}

.nav-link:hover {
  color: #236CFF;
}