@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";


.article {
  padding-top: 3rem;
  padding-left: 3.5rem;

  &__txt {
    &--header {
      font-size: 70px;
      font-weight: bold;
      line-height: 85px;
    }

    &--color {
      color: #236CFF;
    }

    &--paragraph {}
  }
}



body {
  background-color: rgba(35, 108, 255, 0.05);
  ;
}

.navbar {
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;

  &-brand {
    padding-top: 0;
  }
}


.container-fluid {
  padding-top: 0;
  padding-left: 0;
}

.nav-link {
  font-weight: bold;
}

.nav-link:hover {
  color: #236CFF;
}

.navbar-nav>li {
  padding-left: 30px;
  padding-right: 30px;
}