@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {}

.navbar {
  padding-top: 0;
  padding-left: 0;

  &-brand {
    padding-top: 0;
  }
}


.container-fluid {
  padding-top: 0;
  padding-left: 0;
}

.nav-link:hover {
  background-color: #236CFF;
}