@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";
@import "modules/login.scss";
@import "modules/account.scss";


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.navigation__container {
  padding-right: 1rem;
}

.navigation {
  display: flex;
  gap: 2rem;
  text-decoration: none;

  &__account {
    background-color: #236CFF;
    border-radius: 15%;

    &--btn {
      color: #fff;
    }
  }

  &__home {
    font-weight: bold;
    color: black;
  }

  &__contact {
    color: rgba(0, 0, 0, 0.6);
  }

  &__about {
    color: rgba(0, 0, 0, 0.6);
  }

  &__offer {
    color: rgba(0, 0, 0, 0.6);
  }

  &__opinion {
    color: rgba(0, 0, 0, 0.6);
  }
}

.navbar {
  padding-top: 0;

  &__logo {}
}