@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  background-color: rgba(35, 108, 255, 0.05);
  ;
}

.navbar {
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;

  &-brand {
    padding-top: 0;
  }
}


.container-fluid {
  padding-top: 0;
  padding-left: 0;
}

.nav-link {
  font-weight: bold;
}

.nav-link:hover {
  color: #236CFF;
}

.navbar-nav>li {
  padding-left: 30px;
  padding-right: 30px;
}

.article__container {
  margin-right: 5rem;
}

.article {
  padding-top: 1rem;
  margin-left: 1rem;


  &__header {
    font-size: 70px;
    font-weight: bold;
    line-height: 84.72px;
    margin-bottom: 14px;
    margin-top: 14px;


    &--color {
      color: #236CFF;
    }
  }

  &__paragraph {}
}