.accountBody {
    background-color: white;
}


.ACCwelcome__container {
    padding-top: 2rem;

    &--paragraph {
        font-weight: bold;
        font-size: 15px;
    }

    &--span {
        color: #236CFF;
    }
}