.accountBody {
    background-color: white;
}


.ACCwelcome__container {
    margin-left: 31.5rem;
    padding-top: 1rem;
}

.ACCForm {
    background-color: #D9D9D9;

    &__name {}

    &__lastName {}

    &__userName {}

    &__email {}

    &__paragraph {}

    &__password {}

    &__repeatPassword {}
}

.ACCForm__container {
    padding-top: 2.5rem;
    margin-left: 23rem;
    margin-right: 23rem;
}

.ACCStatus_container {
    &--firstParagraph {}

    &--secondParagraph {}

    &--link {}
}

.ACCwelcome {
    &__paragraph {
        font-weight: bold;
        font-size: 15px;
    }

    &__span {
        color: #236CFF;
    }
}