.accountBody {
    background-color: white;
}


.ACCwelcome__container {
    margin-left: 31.5rem;
    padding-top: 1rem;
}

.ACCForm {
    border-style: none;

    &__name {
        background-color: #d9d9d979;
        width: 8rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
        padding-left: 0.5rem;
    }

    &__lastName {
        background-color: #d9d9d979;
        padding-left: 0.5rem;
    }

    &__userName {
        background-color: #d9d9d979;
        margin-bottom: 2rem;
        width: 20rem;
        padding-left: 0.5rem;

    }

    &__email {
        background-color: #d9d9d979;
        margin-bottom: 0.5rem;
        width: 20rem;
        padding-left: 0.5rem;

    }

    &__paragraph {
        margin-left: 4rem;
        color: #236CFF;
    }

    &__password {
        background-color: #d9d9d979;
        margin-left: 2rem;
        width: 17rem;
        margin-bottom: 1rem;
        padding-left: 0.5rem;

    }

    &__repeatPassword {
        background-color: #d9d9d979;
        margin-left: 2rem;
        width: 17rem;
        padding-left: 0.5rem;

    }
}

.ACCForm__container {
    padding-top: 1.5rem;
    margin-left: 26rem;
    margin-right: 23rem;
}

.ACCStatus__container {
    margin-top: 2rem;
    margin-left: 29.5rem;
}

.ACCStatus {
    &__firstParagraph {
        margin-left: 5rem;
        font-size: 22px;
    }

    &__secondParagraph {}

    &__link {}
}

.ACCwelcome {
    &__paragraph {
        font-weight: bold;
        font-size: 15px;
    }

    &__span {
        color: #236CFF;
    }
}