.accountBody {
    background-color: white;
}


.ACCwelcome__container {
    margin-left: 31.5rem;
    padding-top: 1.5rem;
}

.ACCwelcome {
    &__paragraph {
        font-weight: bold;
        font-size: 15px;
    }

    &__span {
        color: #236CFF;
    }
}