.accountBody {
    background-color: white;
}


.ACCwelcome__container {
    margin-left: 31.5rem;
    padding-top: 1rem;
}

.ACCForm {


    &__name {
        background-color: #d9d9d9ef;
    }

    &__lastName {
        background-color: #D9D9D9;
    }

    &__userName {
        background-color: #D9D9D9;
    }

    &__email {
        background-color: #D9D9D9;
    }

    &__paragraph {}

    &__password {
        background-color: #D9D9D9;
    }

    &__repeatPassword {
        background-color: #D9D9D9;
    }
}

.ACCForm__container {
    padding-top: 2.5rem;
    margin-left: 23rem;
    margin-right: 23rem;
}

.ACCStatus_container {
    &--firstParagraph {}

    &--secondParagraph {}

    &--link {}
}

.ACCwelcome {
    &__paragraph {
        font-weight: bold;
        font-size: 15px;
    }

    &__span {
        color: #236CFF;
    }
}