.loginBody {
    background: white;
}


.img__container {
    max-width: fit-content;
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    flex-direction: column;

    @media (min-width: $desktop) {
        margin-left: 20rem;
    }


    &--image {}
}

.form__container {
    background-color: #D9D9D9;
    display: flexbox;
    flex-direction: column;
}