.loginBody {
    background: white;
}


.img__container {
    max-width: fit-content;
    margin-left: 10rem;
    margin-right: 10rem;



    @media (min-width: $desktop) {
        margin-left: 14rem;
    }


    &--image {}
}

.form__container {
    background-color: #D9D9D9;

}