.loginBody {
    background: white;
}


.img__container {
    max-width: fit-content;
    margin-left: 9rem;
    margin-right: 10rem;



    @media (min-width: 960px) {
        margin-left: 11rem;
        margin-right: 14rem;
    }


    &--image {}
}

.form__container {
    background-color: #D9D9D9;
    margin-left: 26rem;
    margin-right: 26rem;
    padding-top: 1rem;
    padding-bottom: 5rem;
    margin-top: 3rem;
    text-align: center;

}

.form {
    &__loginTxt {
        padding-bottom: 2rem;
        text-align: center;
    }

    &__emailInput {
        margin-bottom: 2rem;
        text-align: center;
        border-style: none;
    }

    &__passwordInput {
        text-align: center;
        border-style: none;
    }

    &__loginBtn {
        background-color: #236CFF;
        border-style: none;
        color: #ffff;
        width: 10rem;
        height: 1.5rem;
        margin-top: 2rem;
        border-radius: 1rem;
    }

    &__reminder {
        font-size: 12px;
    }

    &__loginTxt {
        font-weight: boldl
    }

}