.form__container {
    margin-left: 10rem;
    margin-right: 10rem;
    padding-top: 15rem;
    padding-bottom: 15rem;
    gap: 2rem;
    background-color: #D9D9D9;
}

body {
    background-color: #fff;
}