.loginBody {
    background: white;
}


.img__container {
    max-width: fit-content;
    margin-left: 9rem;
    margin-right: 10rem;



    @media (min-width: $desktop) {
        margin-left: 11rem;
        margin-right: 14rem;
    }


    &--image {}
}

.form__container {
    background-color: #D9D9D9;
    margin-left: 18rem;
    margin-right: 15rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 3rem;
    text-align: center;

}

.form {}