.loginBody {
    background: white;
}


.img__container {
    max-width: fit-content;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;


    &--image {
        padding-left: 18rem;
    }
}

.form__container {
    background-color: #D9D9D9;
    display: flexbox;
    flex-direction: column;
}